[global]
DEFAULT_TEMPLATE=gutenberg1
ENABLE_EXPERIMENTAL=False

[aws info]
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_USER_ID=

[key ec2_key]
KEY_LOCATION=/home/cloudera/.ssh/ec2_key.pem

[cluster smallcluster]
KEYNAME = ec2_key
CLUSTER_SIZE = 5
CLUSTER_USER = sgeadmin
CLUSTER_SHELL = bash
NODE_IMAGE_ID = ami-8852a0e1
NODE_INSTANCE_TYPE = m1.large
VOLUMES = data
PLUGINS = hadoop

[cluster gutenberg1]
EXTENDS = smallcluster
CLUSTER_SIZE = 1
VOLUMES = gutenberg-data1
NODE_INSTANCE_TYPE = m1.large
PLUGINS = hadoop, nltk

[plugin hadoop]
SETUP_CLASS = hadoop.Hadoop

[plugin nltk]
setup_class = nltk.PackageInstaller
pkg_to_install = python-nltk

